$corprincipal: purple;
$corsegundaria: white;
$corpadrao: black;

header {
  max-width: auto;
  height: 80px;
  background-color: $corpadrao;


  nav {
    width: 1480px;
    height: 48px;
    margin: 10px;
    position: flex;
    display: flex;
    justify-content: space-between;

    h1 {
      height: 40px;
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 24px;
      color: $corprincipal;
      padding: 6px;
    }

    div {
      width: 600px;
      height: 60px;

      ul {
        display: flex;
        list-style: none;
        font-size: 20px;
        font-weight: 600;
        margin: 30px;

        a {
          font-size: 20px;
          font-weight: 600;
          color: $corprincipal;
          margin: 0 25px;
          text-transform: uppercase;

          &:hover {
            border-bottom: $corprincipal solid 4px;
          }
        }
      }
    }

    button {
      width: 120px;
      height: 40px;
      border: none;
      color: $corsegundaria;
      background-color: $corprincipal;
      border-radius: 40px;
      text-transform: uppercase;
      font-weight: 600;
      margin: 20px;
      cursor: pointer;

      &:hover {
        border: $corprincipal solid 4px;
        color: $corprincipal;
        background-color: $corsegundaria;
      }
    }
  }
}
